section.loading {
  height: 300px;
  overflow: hidden;
  padding: 50px;
}
.loading h1 {
  height: 50px;
  margin-bottom: 0;
  margin-top: 10px;
  transition: all 0.5s cubic-bezier(0.25, 0.75, 0.75, 0);
}
